.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 930px;
  height: 1454px;
font-family: 'Roboto Mono', monospace;
}

.Section{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
img{
margin: 50px;
}
h1, h2, h3, h4{
margin:0;
width: 100%;
}
textarea{
appearance: none;
width: 100%;
max-width: 265px;
}
.list{
margin: 50px;
display: flex;
justify-content: left;
justify-items: left;
text-align: left;
flex-wrap: wrap;
width: 75%;
}
.list ul{
padding: 0;

}
.list li{
text-align: justify;
display: flex;
align-content: center;
justify-content: flex-start;
flex-wrap: wrap;
}
.list li input{
width: 100%;
}
.line{
width: 100%;
height: 3px;
}
.Head {
justify-content: center;
align-items: center;
}
.Head h1{
margin-bottom: 20px;
color: black;
}